@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right, lightgreen, darkgreen);
    font-family: "Rubik", "Roboto", "Inter", Arial, sans-serif;
    text-align: center; 
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 23px;
    text-align: left;
}
ol {
    display: block;
    text-align: left;
    font-size: 20px;
}

h4 {
    text-align: right;
}

img {
    border: solid 5px black;
}

a {
    color: black;
    text-decoration: none;
}

.Caption {
    text-align: left; 
    border: solid 5px black;
    display: inline-block; 
    padding: 20px;
    border-radius: 45px;
    list-style: none;
}

.Gorillaz {
    background: linear-gradient(to left, lightgreen, green, darkgreen);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.Demon_Days {
    background-image: linear-gradient(to bottom, darkred, red);
    background-clip: text;
    color: transparent;
}

.The_Fall {
    background-image: linear-gradient(to bottom, red, darkred);
    background-clip: text;
    color: transparent
}

.Plastic_Beach {
    background-image: linear-gradient(to bottom, orangered, orange, yellow);
    background-clip: text;
    color: transparent;
}

.Humanz {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 128, 128));
    background-clip: text;
    color: transparent;
}

.Now_Now {
    background-image: linear-gradient(to right, fuchsia, cyan);
    background-clip: text;
    color: transparent;
}

.Song_Machine {
    background-image: linear-gradient(to right, blue, cyan);
    background-clip: text;
    color: transparent;
}

.Cracker_Island {
    background-image: linear-gradient(to bottom, deeppink, fuchsia);
    background-clip: text;
    color: transparent;
}
.G-Sides {
    background-image: linear-gradient(to bottom, black, red, yellowgreen, yellowgreen);
    background-clip: text;
    color: transparent;
}
.Spacemonkeyz {
    background-image: linear-gradient(to bottom, blue, darkblue);
    background-clip: text;
    color: transparent;
}

.D-Sides {
    background-image: linear-gradient(to right, darkred, red);
    background-clip: text;
    color: transparent;
}
.Singles_2001-2011 {
    background-image: linear-gradient(to bottom, red, red, white, yellow, #fcce95);
    background-clip: text;
    color: transparent;
}
.Meanwhile {
    background-image: linear-gradient(to bottom, white, white, red, black);
    background-clip: text;
    color: transparent;
}

.The_Mountain {
    background: linear-gradient(to right, #000000, goldenrod);
    background-clip: text;
    color: transparent;
}

img {
    width: 250px;
    height: 250px;
}

.colorgold {
    color: gold;
}

.colorblue {
    color: blue;
}

.colorred {
    color: red;
}

.colorpurple {
    color: purple;
}

.legenda {
    text-align: center;
}

.personagem-container {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-items: center;
}

.item1 {
    text-align: left;
    padding: 1em
}

.personagem-img {
  margin-right: 10px;
  grid-column: 1 / 2;
}

.personagem__link {
    color: cyan;
    text-align: center;
}

@media screen and (max-width: 760px) {
    .personagens {
        display: none;
    }
}